Repository celestiaorg/test-infra, pull requests merged in 2023-02, with the labels that each got.

#89 [Das Benchmarks]: Stress test 1 Full or Bridge Node against x Light Nodes
  .gitignore
  Dockerfile
  Makefile
  build/docker-compose.yml
  build/grafana/dashboards/live-network.json
  build/otel-collector/config.yml
  build/phlare/config.yml
  build/prometheus/prometheus.yml
  build/promtail/config.yml
  compositions/cluster-k8s/das-benchmarks/32-square-size/high-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/high-spec/001-lights-dasing-from-latest-bridges-1000.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/high-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/high-spec/001-lights-dasing-from-latest-bridges-500.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/high-spec/001-lights-dasing-from-latest-bridges-800.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/low-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/low-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/medium-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/medium-spec/001-lights-dasing-from-latest-bridges-1000.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/medium-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/medium-spec/001-lights-dasing-from-latest-bridges-500.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/medium-spec/001-lights-dasing-from-latest-bridges-800.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-1000.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-500.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-800.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/low-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/low-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-1000.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-500.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-800.toml
  compositions/local-docker/das-benchmarks/001-lights-dasing-latest-from-bridges.toml
  docs/test-plans/002-Das-Benchmarks/002-das-benchmarks.md
  docs/test-plans/002-Das-Benchmarks/test-cases/tc-001-lights-dasing-latest-from-bridge.md
  go.mod
  go.sum
  main.go
  manifest.toml
  testkit/appkit/app.go
  testkit/nodekit/node.go
  testkit/sync.go
  tests/README.md
  tests/helpers/common/bridge.go
  tests/helpers/common/validator.go
  tests/helpers/das-benchmarks/run_bridge.go
  tests/helpers/das-benchmarks/run_light.go
  tests/helpers/das-benchmarks/run_validator.go
  tests/plans/das-benchmarks/das-benchmarks.go
Labels: experiment, test, testground

#163 testground/node: check balances after successful submission of PFBs
  Dockerfile
  compositions/cluster-k8s/pfd-400.toml
  go.mod
  go.sum
  testkit/appkit/app.go
  tests/helpers/common/data.go
  tests/helpers/fund-accs/run_bridge.go
  tests/helpers/fund-accs/run_full.go
  tests/helpers/fund-accs/run_light.go
Labels: enhancement, test, testground

#170 chore: fix dead link
  README.md
Labels: documentation

#172 chore: remove redundant compositions + fix local:docker ones
  README.md
  compositions/cluster-k8s/das-benchmarks/32-square-size/high-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/high-spec/001-lights-dasing-from-latest-bridges-1000.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/high-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/high-spec/001-lights-dasing-from-latest-bridges-500.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/high-spec/001-lights-dasing-from-latest-bridges-800.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/low-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/low-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/medium-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/medium-spec/001-lights-dasing-from-latest-bridges-1000.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/medium-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/medium-spec/001-lights-dasing-from-latest-bridges-500.toml
  compositions/cluster-k8s/das-benchmarks/32-square-size/medium-spec/001-lights-dasing-from-latest-bridges-800.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-1000.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-500.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-800.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/low-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/low-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-1000.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-500.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-800.toml
  compositions/cluster-k8s/sanity/pfd-8.toml
  compositions/local-docker/big-blocks/001-val-large-txs-4.toml
  compositions/local-docker/big-blocks/002-da-sync-12.toml
  compositions/local-docker/big-blocks/002-da-sync-13.toml
  compositions/local-docker/big-blocks/003-full-sync-past-13.toml
  compositions/local-docker/big-blocks/004-full-light-past-13.toml
  compositions/local-docker/big-blocks/005-light-das-past-13.toml
  compositions/local-docker/das-benchmarks/001-lights-dasing-latest-from-bridges.toml
  compositions/local-docker/pfd-gsbn/gsbn-9.toml
  compositions/local-docker/pfd-gsbn/pfd-9.toml
  manifest.toml
  tests/helpers/common/bridge.go
  tests/helpers/common/validator.go
  tests/helpers/das-benchmarks/run_validator.go
Labels: test, testground

#180 chore!: migrate to official repos
  build/docker-compose.yml
  build/grafana/dashboards/live-network.json
  build/otel-collector/config.yml
  build/phlare/config.yml
  build/prometheus/prometheus.yml
  build/promtail/config.yml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-1000.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-500.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/high-spec/001-lights-dasing-from-latest-bridges-800.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/low-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/low-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-100.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-1000.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-280.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-500.toml
  compositions/cluster-k8s/das-benchmarks/64-square-size/medium-spec/001-lights-dasing-from-latest-bridges-800.toml
  compositions/local-docker/das-benchmarks/001-lights-dasing-latest-from-bridges.toml
  go.mod
  go.sum
  main.go
  manifest.toml
  testkit/appkit/app.go
  tests/helpers/common/bridge.go
  tests/helpers/common/validator.go
  tests/helpers/das-benchmarks/run_bridge.go
  tests/helpers/das-benchmarks/run_light.go
  tests/helpers/das-benchmarks/run_validator.go
  tests/plans/das-benchmarks/das-benchmarks.go
Labels: bug, test, testground, infrastructure

#183 chore: bump arabica-6 id
  manifest.toml
Labels: bug

#185 feat: setup app for telegraf
  Dockerfile
  compositions/cluster-k8s/big-blocks/tc-001-val-large-txs/40-vals-180kb-pfd/256mib-0ms.toml
  dashboards/README.md
  dashboards/cosmos_comet_nodes_influxql_dashboard.json
  manifest.toml
  tests/helpers/common/bridge.go
  tests/helpers/common/validator.go
  tests/helpers/fund-accs/run_light.go
Labels: enhancement, testground, infrastructure

#188 feat: node v0.7.0-rc9 adaptations
  Dockerfile
  go.mod
  go.sum
  testkit/nodekit/node.go
  tests/helpers/common/data.go
  tests/helpers/fund-accs/run_bridge.go
  tests/helpers/fund-accs/run_full.go
  tests/helpers/fund-accs/run_light.go
  tests/helpers/node-sync/run_bridge.go
  tests/helpers/node-sync/run_full.go
  tests/helpers/node-sync/run_light.go
  tests/helpers/reconstruction/run_bridge.go
  tests/helpers/reconstruction/run_full.go
  tests/helpers/reconstruction/run_light.go
  tests/helpers/sync-past/run_bridge.go
  tests/helpers/sync-past/run_full.go
  tests/helpers/sync-past/run_light.go
Labels: test, testground

#190 fix: isSyncing returning wrong state
  testkit/nodekit/node.go
Labels: bug, testground
